# macOS / system junk that i don't need lol
.DS_Store
__MACOSX/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# jupyter
.ipynb_checkpoints/

# py venv
.venv/
venv/
env/

# latex build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# wtv u call this
.vscode/
.idea/

# weirdo temp files
*.tmp
*.bak